@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', 'cursive';
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
    text-align: center;
    min-height: 150px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    padding-top: 40px;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.508);
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 400px;
    margin: auto;
    padding-bottom: 20px;
}

nav {
    background-color: var(--cor5);
    padding: 5px;
    box-shadow: 0px 5px 8px 0px rgb(0 0 0 / 31%);
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
    transition-duration: .5s;
}

nav a:hover {
    background-color: var(--cor3);
}

main {
    background-color: white;
    box-shadow: 0px 3px 7px 2px rgba(0, 0, 0, 0.49);
    margin: auto;
    padding: 20px;
    min-width: 300px;
    max-width: 850px;
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    color:var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
}

main h2 {
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-weight: normal;
}

main p {
    text-align: justify;
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    color: var(--cor4);
}

a.externo::after {
    content: '\00A0\1F517';
}

main a:hover {
    text-decoration: underline;
}

main img {
    width: 100%;
}

main img.pequena {
    margin: auto;
    display: block;
   max-width: 350px;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.595);
}

aside > ul{
    list-style-position: inside;
    list-style-type: "\2714\00A0\00A0";
    columns: 2;
}

aside h3{
    color: white;
    background-color: var(--cor4);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    background-color: var(--cor5);
    color: var(--cor2);
    margin: 20px auto 0px auto;
    padding: 5px 20px 5px 20px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}